@font-face {
    font-family: "FSEX300";
    src: url("FSEX300.ttf");
}

.outline {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

* {
    font-family: "FSEX300", sans-serif;
}

h1 {
    text-align: center;
}

#results, #rows {
    display: flex;
    flex-direction: column;
}
#header, .row, #input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#input-container {
    position: relative;
}

#input-wrapper {
    position: relative;
    display: inline-block;
}

#results {
    margin-top: 20px;
}

/*
#header>div for header row
.row>div for other rows
*/
.row>div, #header>div {
    margin: 2px;
    padding: 2px 5px;
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header>* {
    font-weight: bold;
}

.name {
    width: 90px;
    min-width: 90px;
}

.species {
    width: 130px;
    min-width: 130px;
}

.height {
    width: 170px;
    min-width: 170px;
}

.pacoca {
    width: 120px;
    min-width: 120px;
}

.correct {
    background-color: lightgreen;
}

.partially_correct {
    background-color: rgb(253, 253, 155);
}

.wrong {
    background-color: lightcoral;
}

.highlighted {
    background-color: gold;
}

#suggestions {
    display: block;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin-top: 2px;
}
.suggestion-item {
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 2px 5px;
    border: 1px solid gray;
}
.suggestion-item.no-match {
    background-color: gray;
    cursor: default;
}
.suggestion-item:not(.no-match):hover {
    background: lightgray;
}

#win {
    display: flex;
    flex-direction: column;
    align-items: center;
}